<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Blurty was built by <a target="_blank" href="https://github.com/sylyu">Sylvia</a>, who is on a mission to a career as a web developer.
  </p>
  <br />
  
  </p>

    <div class="col-xs-12  col-sm-4">
      <%= image_tag 'Sylvia.JPG', class: 'img-responsive' %>
    </div>

    <div class= "col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class="text-center">Sylvia Yu</h2>
      <br />
      <p>      
    Sylvia has 7+ years working in the Software Test field after graduating from University of Washington. Although she started out as a black box tester, she has over time taught herself to write automation scripts for the PC and the Web, and has transitioned to testing developers code.
    A software professional who took some time off to raise a family while living abroad to support her husbands career.  With her youngest starting Kindergarten, she is now dedicating her time to learning web development.  Currently working on Ruby on Rails training through Firehose Project. 
      </p>


  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
