<h2>
  <span>BLURTY/ No. <%= @quote.id %></span>
  Blurting out <u>unsolicited advice</u> about entrepenuership since 2016!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />